<div>

    <h1>Nuestras cervezas</h1>

    {{#each this.listOfBeers}}
    <li>
        <a href="/beers/{{this.id}}">{{this.tagline}}</a>
        <a href="/beers/{{this.name}}">{{this.name}}</a>
        <img src="{{this.image_url}}">
    </li> 

    {{/each}}



</div>